.dungeon {
  width: 968px;
  height: 968px;
  margin-top: 155px;
  margin-bottom: 45px;
  border: 4px solid gray;
  border-radius: 4px;
}

.my-row {
  font-size: 0;
}

.cell {
  width: 12px;
  height: 12px;
  background-color: black;
  display: inline-block;
}

.cell-white {
  background-color: white;
}

.cell-green {
  background-color: green;
}

.cell-red {
  background-color: red;
}

.cell-blue {
  background-color: blue;
}

.cell-yellow {
  background-color: yellow;
}

.cell-purple {
  background-color: purple;
}

.cell-boss {
  background-color: red;
}

.cell-dark {
  background-color: gray;
}