.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.status-bar {
  margin-top: 25px;
  margin-bottom: 10px;
}

span {
  margin-right: 10px;
  font-size: 15px;
}
