<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
  	<title>Wikipedia Viewer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container-fluid" ng-app="app" ng-controller="Ctrl as ctrl">
  		<!-- Page header -->
  		<div class="page-header text-center">
    		<h1>Wikipedia Viewer</h1>
  		</div>
  		<!-- Random article link -->
  		<div class="text-center move-down">
    		<a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank" class="white">
      			<h4>Read a random article</h4>
    		</a>
  		</div>
  		<h2 class="text-center">Or search for a particular topic:</h2>
  		<!-- Article search box -->
  		<form ng-submit="ctrl.submit()" class="row">
    		<div class="form-group col-sm-5 col-sm-offset-3">
      			<label for="search" class="sr-only">Search for an article</label>
      			<input type="text" uib-typeahead="title for title in ctrl.findArticle($viewValue)" 
      				placeholder="Search for an article..." ng-model="ctrl.title" class="form-control" 
      				typeahead-loading="loadingArticles" typeahead-no-results="noResults">
      			<i ng-show="loadingArticles" class="glyphicon glyphicon-refresh"></i>
      			<div ng-show="noResults">
        			<i class="glyphicon glyphicon-remove"></i> No Results Found
      			</div>
    		</div>
    		<div class="col-sm-1">
      			<button class="btn btn-default btn-block" type="submit">Go!</button>
    		</div>
  		</form>  
  		<!-- Search results list-->
  		<div class="row move-down">
    		<div class="col-sm-8 col-sm-offset-2">
      			<ul>
        			<li ng-repeat="article in ctrl.articles">
          				<div class="panel panel-default item">
            				<a ng-href="http://en.wikipedia.org/w/index.php?curid={{article.pageid}}" target="_blank">
              					<h4><i>{{article.title}}</i></h4>
            				</a>
            				<p>{{article.extract}}</p>
          				</div>
        			</li>
      			</ul>
    		</div>
  		</div>  
  		<!-- Error field -->
  		<h4 class="text-center error"><i>{{ctrl.error}}</i></h4>
  		<!-- Footer -->
  		<footer class="footer text-center">
    		<i>Written by <a href="https://github.com/mstoyanovca" target="_blank" class="white">Martin Stoyanov</a></i>
  		</footer>
	</div>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.min.js"></script>
	<script src="js/index.js"></script>
</body>
</html>
