<div class="container-fluid">

	<!-- Header -->
  	<div class="text-center pb-4 pt-4 border-bottom">
    	<h2>Wikipedia Viewer</h2>
  	</div>
  	
  	<!-- Random article link -->
  	<div class="text-center move-down">
    	<a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank" class="white">
      		<h4>Read a random article</h4>
    	</a>
  	</div>
  	
  	<!-- Article search form -->
  	<h2 class="text-center">Or search for a particular topic:</h2>
	<search-form></search-form>
	
  	<!-- Search results list-->
  	
  	<!-- Error field -->
  	
  	<!-- Footer -->
  	<footer class="footer text-center">
    	<i>Written by <a href="https://github.com/mstoyanovca" target="_blank" class="white">Martin Stoyanov</a></i>
	</footer>
</div>
